@page "/"
@using MatrixWeatherDisplay.DependencyInjection.ScreenGeneratorCollections;
@using MatrixWeatherDisplay.Screens;
@using MatrixWeatherDisplay.Services;
@using System.Globalization;
@using MatrixWeb.Extensions
@using MatrixWeb.Extensions.Services.Translation;
@using MatrixWeb.Shared.Inputs

@inject IScreenGeneratorProvider screens
@inject DeviceService devices
@inject TextService textService

<PageTitle>Index</PageTitle>

<h5>@textService[s_brightnessText]</h5>

<div class="brightness-container">
    @if (devices.AutoBrightness) {
        <input type="range" min="0" step="0.01" max="1" class="form-range" value="@devices.Brightness.Display.ToInputString(2, 1)" disabled>
        <button type="button" @onclick="() => devices.AutoBrightness = false" class="btn btn-success">@textService[s_automaticText]</button>
    } else {
        <input type="range" min="0" step="0.01" max="1" class="form-range" value="@devices.Brightness.Display.ToInputString(2, 1)" @oninput="e => ChangeBrighness(e)">
        <button type="button" @onclick="() => devices.AutoBrightness = true" class="btn btn-secondary">@textService[s_automaticText]</button>
    }
</div>

@if (_showAll) {
    <button type="button" @onclick="() => _showAll = false" class="btn btn-success">@textService[s_showAllText]</button>
} else {
    <button type="button" @onclick="() => _showAll = true" class="btn btn-secondary">@textService[s_showAllText]</button>
}

<table class="table screen-table">
    <thead>
        <tr>
            <th scope="col">@textService[s_nameText]</th>
            <th scope="col">@textService[s_descriptionText]</th>
            <th scope="col">@textService[s_screenTimeText]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var screen in screens.GetScreenGenerators()) {
            @if (screen.IsEnabled || _showAll) {
                <tr class="screen-row  @IsDisabledClass(screen)">
                    <td scope="row"> @textService.GetTranslation(screen.Name)</td>
                    <td> @textService.GetTranslation(screen.Description) </td>
                    <td>
                        <SecondInput Min="0" Max="60" Decimals="1" OnInput="v => ChangeScreenTime(v, screen)" Value="screen.ScreenTime.TotalSeconds" Disabled="!screen.IsEnabled" />
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    private bool _showAll = false;

    private void ChangeScreenTime(ChangeEventArgs eventArgs, IScreenGenerator screenGenerator) {
        double value = -10;

        if (eventArgs.Value is string str && !double.TryParse(str, out value)) {
            return;
        }

        if (eventArgs.Value is double d) {
            value = d;
        }

        if (value == -10) {
            return;
        }

        ChangeScreenTime(value, screenGenerator);
    }

    private void ChangeScreenTime(double newScreenTime, IScreenGenerator screenGenerator) {
        screenGenerator.ScreenTime = TimeSpan.FromSeconds(newScreenTime);
    }

    private async Task ChangeBrighness(ChangeEventArgs eventArgs) {
        double value = -10;

        if (eventArgs.Value is string str && !double.TryParse(str, CultureInfo.InvariantCulture, out value)) {
            return;
        }

        if (eventArgs.Value is double d) {
            value = d;
        }

        if (value < 0 || value > 1) {
            return;
        }

        await devices.SetBrightnessAsync(value);
        StateHasChanged();
    }

    private string IsDisabledClass(IScreenGenerator screenGenerator) {
        return screenGenerator.IsEnabled ? "" : "disabled-screen-generator";
    }
}