@page "/Settings"
@using MatrixWeatherDisplay.Data;
@using MatrixWeatherDisplay.Services;
@using MatrixWeb.Extensions.Services;
@using MatrixWeb.Extensions.Services.Translation;
@using MatrixWeb.Extensions.Weather.Services;
@using MatrixWeb.Services;
@using System.Globalization;
@using MatrixWeb.Shared.Inputs

@inject SpotifyService spotify
@inject NavigationManager navManager
@inject DisplayService display
@inject WeatherService weather
@inject BrightnessService autoBrightness
@inject DeviceService devices
@inject ConfigService configService
@inject TextService textService

<OverlayWindow @ref="_configWindow">
    @foreach (var configLayout in configService.Layouts) {
        <h3>@configLayout.ConfigName</h3>
        @foreach (var key in configLayout.Keys) {
            <ConfigInput ConfigKey="key" ConfigLayout="configLayout" />
        }
    }

    <div class="footer">
        <button class="btn btn-primary config-save-button" @onclick="e => configService.SaveAsync()">@textService[s_saveText]</button>
    </div>
</OverlayWindow>

<button class="btn btn-primary config-button" @onclick="e => _configWindow.Visible = true">@textService[s_configText]</button>

<p class="settings-container">
    <h4>@textService[s_displayText]</h4>

    <h5>@textService[s_generalBrightnessText]</h5>
    <PercentInput Min="0" Max="100" Decimals="1" OnInput="ChangeMaxBrightness" Value="autoBrightness.GeneralBrightness" />
    <h5>@textService[s_timeShiftText]</h5>
    <HourInput Min="-12" Max="12" Decimals="2" OnInput="ChangeHourShift" Value="autoBrightness.TimeShift" />

    <h5>@textService[s_redThresholdText]</h5>
    <PercentInput Min="0" Max="100" Decimals="1" OnInput="ChangeRedThreshold" Value="display.RedManager.RedThreshold" />
<p class="description">
        @if (_redTimeRange == TimeRange.Always) {
            <text>@textService[s_alwaysRedText]</text>
        } else if (_redTimeRange == TimeRange.Never) {
            <text>@textService[s_neverRedText]</text>
        } else {
            <text>@textService[s_redBetweenText] <b>@_redTimeRange.Start</b> @textService[s_andText] <b>@_redTimeRange.End</b></text>
        }
</p>
</p>

<p class="settings-container">
    <h4>@textService[s_spotifyText]</h4>
    @if (spotify.HasClientKeys) {
        @if (spotify.IsConnected) {
            <button type="button" @onclick="DisconnectSpotify" class="btn btn-success">@textService[s_spotifyConnectedText]</button>
        } else {
            <a class="btn btn-secondary" href="@spotify.GetSpotifyUrl(GetCallbackUrl())">@textService[s_connectWithSpotifyText]</a>
        }
    }
</p>

<p class="settings-container">
    <h4>@textService[s_weatherText]</h4>
    <h5>@textService[s_weatherProviderText]</h5>
    <select class="form-select" @onchange="ChangeWeatherProvider">
        @if (weather.IsProviderEnabled(WeatherProvider.OpenWeatherMap)) {
            <option value="0" selected="@WeatherProviderSelected(WeatherProvider.OpenWeatherMap)">Open Weather Map</option>
        }
        @if (weather.IsProviderEnabled(WeatherProvider.WeatherApi)) {
            <option value="1" selected="@WeatherProviderSelected(WeatherProvider.WeatherApi)">Weather Api</option>
        }
    </select>
</p>

<p class="settings-container">
    <h4>@textService[s_displayControllerText]</h4>
    @if (_restarting) {
    <p class="btn btn-secondary disabled">@textService[s_restartDisplayControllerText]</p>
    } else {
    <button type="button" @onclick="RestartDisplay" class="btn btn-danger">@textService[s_restartDisplayControllerText]</button>
    }
    <p class="restart-app-container">
        <button type="button" @onclick="RestartApplication" class="btn btn-danger">@textService[s_restartApplication]</button>
    </p>
</p>

@code {
    private bool _restarting;
    private TimeRange _redTimeRange;

    private OverlayWindow _configWindow;

    protected void PageOnInitialized() {
        _redTimeRange = display.RedManager.GetRedTimeRange();
    }

    private string GetCallbackUrl() {
        var uri = new Uri(navManager.BaseUri);
        string url = $"{uri.Scheme}://{uri.Host}:{uri.Port}/Spotify/Callback";

        return url;
    }

    private void DisconnectSpotify() {
        spotify.Logout();
    }

    private Task RestartDisplay() {
        _restarting = true;
        _ = Task.Run(async () => {
            await display.RestartAsync();
            _restarting = false;
            await InvokeAsync(StateHasChanged);
        });

        return Task.CompletedTask;
    }

    private Task ChangeWeatherProvider(ChangeEventArgs eventArgs) {
        if (!eventArgs.ToInt(out int value)) {
            return Task.CompletedTask;
        }

        var newProvider = (WeatherProvider)value;
        weather.WeatherProvider = newProvider;

        return Task.CompletedTask;
    }

    private void ChangeRedThreshold(double value) {
        display.RedManager.RedThreshold = value;
        _redTimeRange = display.RedManager.GetRedTimeRange();
    }

    private async Task ChangeMaxBrightness(double value) {
        autoBrightness.GeneralBrightness = value;
        await devices.UpdateBrightnessAsync();
    }

    private async Task ChangeHourShift(double value) {
        autoBrightness.TimeShift = value;
        _redTimeRange = display.RedManager.GetRedTimeRange();
        await devices.UpdateBrightnessAsync();
    }

    private bool WeatherProviderSelected(WeatherProvider weatherProvider) {
        return weather.WeatherProvider == weatherProvider;
    }

    private async Task RestartApplication() {
        await Program.RestartAsync();
    }
}